<!DOCTYPE html>
<html>
<head>

<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">

		<body>
		<nav>
	    		<ul>
	        	<li><a href="/home">home</a></li>
			<li><a href="/about">about</a></li>
			<li><a href="/publications">publications</a></li>
			<li><a href="/teaching">teaching</a></li>
    		</ul>
		</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
	<footer>
	    	<ul>
			<li><a href="mailto:berenike.herrmann@unibas.ch">Send me an email</a></li>
      			<li><a href="https://twitter.com/Jberenike">@jberenike</li>
			<li><a href="http://dhlab.unibas.ch/berenike-herrmann/">Meet me at DH Lab Basel Webpage</a></li>
		</ul>
	</footer>
			<footer>
	    		<ul>
	        	<li><a href="mailto:berenike.herrmann@unibas.ch">Send me an email</a></li>
				<li><a href="http://dhlab.unibas.ch/berenike-herrmann/">Meet me at DH Lab Basel Webpage</a></li>
				</ul>
			</footer>
		</body>
	</html>
