<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/program">Program</a></li>
	        		<li><a href="/organizers">Organizers</a></li>
	        		<li><a href="/roadmap">Roadmap</a></li>
	    		</ul>
			</nav>
			<div class="main-header">
				<h1>The <i>Digital Literary Stylistics</i> Workshop</h1>
				<p> <a class="header" href="http://dh2016.adho.org/" target="_blank">DH2016</a> - Krakow, Poland 12th July 2016 </p>
			</div>
			<div class="container">
				<br><br>
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jb.herrmann@phil.uni-goettingen.de ">Berenike Herrmann</a></li>
	        		<li><a href="mailto:francesca.frontini@ilc.cnr.it">Francesca Frontini</a></li>
	        		<li><a href="mailto:marissa.gemma@aesthetics.mpg.de">Marissa Gemma</a></li>
				</ul>
			</footer>
		</body>
	</html>
