<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">home</a></li>
					<li><a href="/about">about</a></li>
	        		<li><a href="/publications">publications</a></li>
					<li><a href="/cv">cv</a></li>
					<li><a href="/links">links</a></li>
	        		<li><a href="/news">news</a></li>
				    <li><a href="/workshops">workshops</a></li>
				<li><a href="/DigitalHumanities@IGEL18">DigitalHumanities@IGEL18</a></li>
	    		</ul>
			</nav>
			<div class="main-header">
				<h1>j. berenike herrmann</h1>
				<p>  </p>
			</div>
			<div class="container">
				<br><br>
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:berenike.herrmann@unibas.ch">contact</a></li>
				</ul>
			</footer>
		</body>
	</html>
